ProxyView/Web References/WebProxy/Proxy.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="userProxy">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="encrypt_mode" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="userProxyResponse">
        <s:complexType />
      </s:element>
      <s:element name="AESDncrypt">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DecryptStr" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AESDncryptResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AESDncryptResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="userProxySoapIn">
    <wsdl:part name="parameters" element="tns:userProxy" />
  </wsdl:message>
  <wsdl:message name="userProxySoapOut">
    <wsdl:part name="parameters" element="tns:userProxyResponse" />
  </wsdl:message>
  <wsdl:message name="AESDncryptSoapIn">
    <wsdl:part name="parameters" element="tns:AESDncrypt" />
  </wsdl:message>
  <wsdl:message name="AESDncryptSoapOut">
    <wsdl:part name="parameters" element="tns:AESDncryptResponse" />
  </wsdl:message>
  <wsdl:portType name="ProxySoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="userProxy">
      <wsdl:input message="tns:userProxySoapIn" />
      <wsdl:output message="tns:userProxySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AESDncrypt">
      <wsdl:input message="tns:AESDncryptSoapIn" />
      <wsdl:output message="tns:AESDncryptSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProxySoap" type="tns:ProxySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userProxy">
      <soap:operation soapAction="http://tempuri.org/userProxy" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AESDncrypt">
      <soap:operation soapAction="http://tempuri.org/AESDncrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ProxySoap12" type="tns:ProxySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="userProxy">
      <soap12:operation soapAction="http://tempuri.org/userProxy" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AESDncrypt">
      <soap12:operation soapAction="http://tempuri.org/AESDncrypt" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Proxy">
    <wsdl:port name="ProxySoap" binding="tns:ProxySoap">
      <soap:address location="http://192.168.1.3:8089/Proxy.asmx" />
    </wsdl:port>
    <wsdl:port name="ProxySoap12" binding="tns:ProxySoap12">
      <soap12:address location="http://192.168.1.3:8089/Proxy.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>